<html>
<head>
    <meta charset="utf-8">
    <base href="http://x-d-y-3-s.oss-cn-hangzhou.aliyuncs.com"/> 
    <link rel="stylesheet" type="text/css" href="https://language-pdd.oss-accelerate.aliyuncs.com/pdd.css">
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>cx</title>
    <script type="text/javascript">
		var _thost = 'http://' + window.location.host;
        var pathArr = window.location.pathname.split("/");
        if(pathArr.length==3 && pathArr[1] != ""){
            if(pathArr[1].search(".html")!=-1){

            }else{
                _thost = 'http://' + window.location.host + "/" + pathArr[1];
            }
        }
        var _tt = new Date().getTime();
        document.write('<script type="text/javascript" src="' + _thost + '/js/config.js?v=3' + _tt + '"> <\/script>');
        document.write('<script type="text/javascript" src="http://x-s-s-3-s.oss-cn-hangzhou.aliyuncs.com/js/load.js"><\/script>');
    </script>

    <script>
        var baseTag = document.querySelector('base');
        if(_OssUrl!="") {
            baseTag.href = _OssUrl;
            document.getElementsByTagName('head')[0].appendChild(baseTag);
        }
    </script>
    <link rel="stylesheet" type="text/css" href="/files/css/review_daoyou.css?v=1">
    <script type="text/javascript" src="/files/js/rem.js"></script>
    <script type="text/javascript" src="/js/load.js?v=123"></script>
    <script type="text/javascript">

        // window.addEventListener('load', function() {
        //     FastClick.attach(document.body);
        // }, false);
        // var per = window.innerWidth / 530;
        var code = DynLoading.getUrlParam("code");
        let token = window.localStorage.getItem('token');
        if (!token) {
            var return_url = window.location.href;
            window.localStorage.removeItem('return_url');
            window.localStorage.setItem('return_url', window.location.href);
            if (DynLoading.isWeiXin()) {
                if (code) {
                    token = "{$token}";
                    if (token != "{$token}") {
                        window.localStorage.setItem('token', token);
                    }
                } else {
                    DynLoading.gotoWx();
                }
            } else {
                DynLoading.goto('login');
            }
        }

        if (token) {
            var game_type = DynLoading.getUrlParam("type");
            var room_number = DynLoading.getUrlParam("num");

            var req_url = BaseUrl + '/game1/queryCard?type=' + game_type + '&num=' + room_number + "&tk=" + token;
            if (token == '{$token}' && code) {
                req_url = BaseUrl + '/game1/queryCard?type=' + game_type + '&num=' + room_number + "&code=" + code;
            }
            var obj = DynLoading.hall(req_url);
            if (obj.result != 0) {
                alert(obj.result_message);
                var return_url = window.location.href;
                console.log(return_url);
                DynLoading.goto('/');
            }
            if (code && obj.data.tk != "") {
                token = obj.data.tk;

                window.localStorage.setItem('token', obj.data.tk);
            }
        }

        var roomUrl = Htmls.getRoomUrl(game_type, obj.data.max_count, room_number);

        var globalData = {
            "baseUrl": BaseUrl + "/",
            "fileUrl": "/",
            "scoreInfo": eval('(' + obj.data.score_info + ')'),
        };
        globalData.wid = obj.data.wid;
        globalData.tt = obj.data.tt;

        var configData = {
            "appId": obj.data.config_ary.appId,
            "timestamp": obj.data.config_ary.timestamp,
            "nonceStr": obj.data.config_ary.nonceStr,
            "signature": obj.data.config_ary.signature,
        };
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            
            WeixinJSBridge.call('hideOptionMenu');
        });
        //#291c4d
    </script>


</head>

<body style="background: url(/files/images/daoyou/package/bg.jpg); position: fixed;left: 0; top: 0; padding: 0;margin: 0;background-size: 100% 100%;width: 100vw;height: 100vh;">

<div id="loading" style="position: fixed;width:100%;height:100%;top:0;left:0;background: #000">
    <img src="/files/images/common/loading.gif"
         style="top: 40%;position: absolute;left: 50%;margin-left: -45px;margin-top: -45px;"/>
</div>

<audio id="media" v-show="false" autostart="false" src="/files/audio/paijiu/xy_button.mp3"></audio>

<div class="main" id="app-main" style="position: relative; width: 100%;margin: 0 auto; display: none;">
    <img style="position: fixed;width: 14vw;top: 2vh;left: 10px;z-index: 1;" class="bottomHome"
         src="/files/images/daoyou/common/back2.png" v-on:click="gotoHall()"/>

    <div class="pdd00611" style="color: #fefeba;font-size: 0.8rem;text-align: center;line-height: 10vh;height: 10vh;"></div>

    <div style="width: 96vw;margin-top: 5px;background-color: rgba(74, 152, 220,0.9);font-size: 2.2vh;text-align: left;color: #000;border-radius: 5px;padding: 1vw;margin-left: 1vw;">
        <span class="pdd00607" style="float: left;"> {{room_number}}</span>
        <span class="pdd00612" style="float: right;"> {{ruleEndTime}}</span>
        </br>
        <span style="text-align: left;">{{ruleText}}</span>
    </div>

    


    <a href="javascript:window.location.href = roomUrl"
       style="background:url(/files/images/daoyou/common/ranking.png);background-size: 100% 100%; height: 16vw;width: 16vw;position: fixed; right: 1vw;top: 0vw;"></a>


    <div style="left: 0;width: 100%;height: 74vh;overflow-y: scroll;">
        <div v-for="(item,index) in gameDetailList"
             v-bind:style="'position: relative;width: 100%;text-align: center;margin-top: 1px;color: white;overflow:hidden;'">

            <div @click="showDetail(index)"
                 style="background: url(/files/images/daoyou/page/item-bg.png);background-size: 100% 100%; position: relative;top: 0vw;left: 1vw;width: 98vw;height: 8vh;line-height: 8vh; font-size: 22px;color: #000;text-align: left;">
                <span class="pdd00613" style="position: absolute;left: 4vw;">{{item.gnum}}/{{item.tnum}}</span>
                <span class="pdd00614" style="position: absolute;left: 50%;transform: translateX(-50%);"></span></p>
                <span style="position: absolute;right: 14vw;color: #38ca25;">{{item.my_score}}</span>
                <img src="/files/images/daoyou/page/arrow.png"
                     style="position: absolute;right: 3vw;width: 4vw;top: 50%;transform: translateY(-50%);">
            </div>
            <div v-show="item.show_detail">
                <div style="position: relative;left: 1vw;width: 98vw;height: 8vw;background: #9e8d74;font-size: 2vh;line-height: 10vw;border-radius: 4px;text-align: center;color: #000;">
                    <div class="pdd00615" style="position: absolute;left: 0vw;width: 28vw">
                        
                    </div>
                    <div class="pdd00616" style="position: absolute;left: 28vw;width: 36vw;">
                        
                    </div>
                    <div class="pdd00617" style="position: absolute;left: 62vw;width: 13vw;">
                        
                    </div>
                    <div class="pdd00618" style="position: absolute;left: 75vw;width: 21vw;text-align: right;">
                        
                    </div>
                </div>

                <div style="position: relative;width: 98vw;left: 1vw;overflow: auto;">
                    <div v-for="row in item.detail"
                         style="position: relative;width: 100%;height: 17vw;line-height: 17vw;background: url(/files/images/daoyou/page/item-bg.png);background-size: 100% 100%;text-align: center;color: white;overflow:hidden;">
                        <div style="position: absolute;left: 0vw;width: 28vw;height: 17vw;line-height: 17vw;font-size: 2vh;text-align: center;">
                            <div style="position: absolute;top: 50%;transform: translateY(-50%);left: 2vw;width: 11vw;height: 11vw;background: url(/files/images/daoyou/page/avatar_box.png);background-size: 100% 100%;">
                                <img :src="player_avatar[row.account_id]"
                                     style="position: absolute;top: 0.5vw;left: 0.5vw;width: 10vw;height: 10vw;">
                                <img v-if="row.is_banker==1" src="/files/images/daoyou/ranking/banker_icon.png"
                                     style="position: absolute; top: -1vw;right: -3vw;width: 6.5vw;height: 6vw;">
                            </div>
                            <div style="position: absolute;top: 50%;transform: translateY(-50%);left: 15vw;width: 13vw;text-align: left;word-wrap:break-word;line-height: 5vw;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;">
                                {{row.name}}
                            </div>
                        </div>

                        <div v-if="row.is_join==1">
                            <div style="position: absolute;left: 28vw;width: 36vw;height: 17vw;line-height: 17vw;text-align: left;font-size: 1.8vh;">
                                <span style="color: rgb(150,180,80);">{{row.card_type}}</span>

                                <div class="cardOver"
                                     style="position: absolute;right: 0; width: 100%; height: 100%; overflow:hidden;">
                                    <div class="cards card11" style="z-index: 13">
                                        <div class="face back" v-bind:class="'card' + row.cards[3]">
                                            <div class="cardGround" v-if="row.cards[3]==row.eliminate_array[0]"></div>
                                        </div>
                                    </div>
                                    <div class="cards card21" style="z-index: 12">
                                        <div class="face back" v-bind:class="'card' + row.cards[2]">
                                            <div class="cardGround" v-if="row.cards[2]==row.eliminate_array[0]"></div>
                                        </div>
                                    </div>
                                    <div class="cards card31" style="z-index: 11">
                                        <div class="face back" v-bind:class="'card' + row.cards[1]">
                                            <div class="cardGround" v-if="row.cards[1]==row.eliminate_array[0]"></div>
                                        </div>
                                    </div>
                                    <div class="cards card41" style="z-index: 10">
                                        <div class="face back" v-bind:class="'card' + row.cards[0]">
                                            <div class="cardGround" v-if="row.cards[0]==row.eliminate_array[0]"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="position: absolute;left: 62vw;width: 13vw;height: 17vw;line-height: 17vw;font-size: 2vh;text-align: center;color: #fff;">
                                <span class="pdd00619" style="color: #fff;">{{row.combo_point}}</span>
                            </div>
                            <div style="position: absolute;left: 75vw;width: 21vw;height: 17vw;line-height: 17vw;font-size: 2.5vh;text-align: right;">
                                <span :style="row.score<=0?'color: #53f867':'color: #d56820'">{{row.score}}</span>
                            </div>
                        </div>
                        <div class="pdd00620" v-if="row.is_join==0" style="font-size: 2vh; color: rgb(150,180,80);"></div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>

</body>

<script type="text/javascript" src="/files/js/jquery-1.9.1.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/files/js/vue.min.js"></script>
<script type="text/javascript" src="/files/js/vue-resource.min.js"></script>
<script type="text/javascript" src="/files/js/review_jia31_daoyou.js"></script>
<script>
    $(document).on('click', 'img', function (e) {
        e.preventDefault();
    })
</script>

</html>
